@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;700;900&display=swap');

:root {
  /* TRUSTWORTHY TONES */
  --primary-white: #ffffff;
  --primary-light-grey: #f2f2f2;
  --secondary-blue: #2b6777;
  --tertiary-white-blue: #c8d8e4;
  --tertiary-blue-green: #52ab98;
  --shadow-1: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  line-height: auto;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-light-grey);
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 192.6rem;
}

.review-heading {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: var(--secondary-blue);
}

.profile-container {
  background: linear-gradient(
    to right bottom,
    rgba(200, 216, 228, 0.8),
    rgba(43, 103, 119, 0.3)
  );
  height: 40rem;
  width: 35rem;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
  padding: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img-container {
  position: relative;
}

.profile-img-container img {
  max-width: 10rem;
  max-height: 14rem;
  padding: 0.2rem;
  clip-path: circle(38%);
}

.profile-img-container::before {
  display: block;
  content: '"';
  position: absolute;
  background-color: var(--secondary-blue);
  height: 3.5rem;
  width: 3.5rem;
  top: 0.6rem;
  left: -0.5rem;
  border-radius: 50%;
  color: var(--primary-white);
  font-size: 6rem;
  text-align: center;
  z-index: 1;
}

.profile-img-container::after {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--secondary-blue);
  height: 9rem;
  width: 9rem;
  top: 1rem;
  right: -0.2rem;
  border-radius: 50%;
  z-index: -1;
}

.profile-name {
  margin: 0;
  padding-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--secondary-blue);
  text-transform: uppercase;
}

.profile-career {
  margin: 0;
  font-size: 1.4rem;
  color: var(--tertiary-blue-green);
  padding-bottom: 0.2rem;
}

.profile-para {
  margin: 2rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--secondary-blue);
  text-indent: 5%;
  line-height: auto;
  min-height: 7rem;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-container-btn--1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.arrow-container-btn--2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.arrow-prev {
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  animation: arrow 700ms linear infinite;
}

.arrow-prev::after,
.arrow-prev::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  left: -3px;
  background-color: #fff;
}

.arrow-prev::after {
  top: -5px;
  transform: rotate(-45deg);
}

.arrow-prev::before {
  top: 5px;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
}

.arrow-next {
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  animation: arrow 700ms linear infinite;
}

.arrow-next::after,
.arrow-next::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  right: -3px;
  background-color: #fff;
}

.arrow-next::after {
  top: -5px;
  transform: rotate(45deg);
}

.arrow-next::before {
  top: 5px;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.random-btn {
  background-color: var(--primary-light-grey);
  color: var(--secondary-blue);
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;

  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.random-btn:hover {
  background-color: var(--tertiary-blue-green);
  color: var(--primary-light-grey);
}

.random-btn:active {
  transform: translateY(2px);
  transition: all 0.1s;
  box-shadow: none;
}
